/* -------INTRO SECTION------ */
.intro {
  clear: both;
  padding-top: 2em;
}

.intro p {
  margin: 0 auto 1em;
}


.summary p:nth-child(2) {
  font-style: italic;
}

.summary a {
  display: inline-block;
}

.intro h1 {
  font-size: 3em;
  line-height: 1;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.intro h1:before {
  content:  $clientName + "\2019s Miraculous";
  font-family: $secondaryFont;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  font-size: 1.12rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  background: url('../images/img-sprite.png') no-repeat center 0.25em;
  background-size: 25rem;
  margin-bottom: 1.3em;
}

.intro h2 {
  font-family: "french-clarendon-ornamented",sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  padding-top: 4.5em;
  margin-top: 0.1em;
  margin-bottom: 0em;
  letter-spacing: 0.05rem;
  line-height: 1.275em;
  background: url('../images/img-bottle.png') no-repeat center 0.75em;
  background-size: 1.45em;
}

.preamble {
  margin: 0 auto 1em;
}

.preamble p {
  margin-bottom: 0.15em;
}

.preamble h3 {
  margin:  0.5em auto 0.55em;
  padding: 0.5em 0 0.55em;
  font-family: "grecian-light-face",sans-serif;
  font-size: 1.5em;
  line-height: 1;
  background: 
    url('../images/img-lg-horiz-border.png') repeat-x top right,
    url('../images/img-lg-horiz-border.png') repeat-x bottom left;
  background-size: 13em;
}

.preamble p:first-line {
  text-transform: uppercase;
}

.preamble p:nth-child(1n+3) {
  text-indent: 1.5em;
}

.preamble p:nth-child(1n+3):first-line {
  text-transform: none;
}