

@media (min-width:1300px) {
  body {
    font-size: 1.375em;
  }
  
  .intro {
    padding-top: 13.5em;
  }
  
   body:before {
    border-left: 198px solid $backgroundColor;
    border-right: 198px solid $backgroundColor;
    border-top: 198px solid transparent;
    margin: 0 auto -9em;
  }
  
  .intro h1 {
    font-size: 7.35em;
    line-height: 1.4;
  }
  
  .intro h1:before {
    background: url('../images/img-sprite.png') no-repeat center 0.5em;
    background-size: 58rem;
    margin-bottom: 0;
  }
  
  .benefits:before {
    right: 58.5%;
  }
  
  .benefits:after {
    left: 58.5%;
  }
}