/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


// @import "foo"

@import "compass/utilities/sprites";
@import "businessman/*.png";
@include all-businessman-sprites;
 
nav input[type=button] {
	width: 60px;
	height: 48px;
}

nav input[type=button]:focus {
	outline:0;
}

label {
	float: left;
	width: 170px;
	font-family: Arial;
	font-size: 20px;
	padding-top: 7px;
}

br {
	clear: both;
}


input[type=text] {
  font-size: 20px;
  display: block;
  border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  // transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
  &:focus {
	  outline: none;
	  background-position: 0 -1.7em;
  }
}
