

@media (min-width:1200px) {
  
  .intro {
    padding-top: 10.5em;
  }
  
  body:before {
    border-left: 168px solid $backgroundColor;
    border-right: 168px solid $backgroundColor;
    border-top: 168px solid transparent;
    margin: 0 auto -8em;
  }
  
  .intro h1 {
    font-size: 7em;
  }
  
  .intro h1:before {
    background: url('../images/img-sprite.png') no-repeat center 0.3em;
    background-size: 56rem;
    font-size: 2.75rem;
  }
  
  .intro h2 {
    padding-top: 5em;
    background-size: 1.85em;
  }
  
  .benefits:before {
    right: 60%;
  }
  
  .benefits:after {
    left: 60%;
  }
  
  .explanation {
    padding: 10.5em 0 0.5em;
  }
     
  .explanation h3 {
    font-size: 3.7em;
  }
}