@media (min-width:1050px) {

  .intro {
    padding-top: 9em;
  }
  
  .intro p,
  .preamble,
  .design-selection,
  .design-selection ul,
  .design-archives,
  .zen-resources ul,
  .participation p,
  .benefits h3,
  .benefits p {
    max-width: 40rem;
  }
  
  body:before {
    border-left: 140px solid $backgroundColor;
    border-right: 140px solid $backgroundColor;
    border-top: 140px solid transparent;
    margin: 0 auto -7em;
  }
  
  .intro h1 {
    font-size: 6em;
  }
  
  .preamble h3:first-child {
    font-size: 3em;
  }
  
  .explanation h3 {
    top: 1em;
  }
  
  .benefits:before, .benefits:after {
    font-size: 3.7em;
    top: 64.25%;
    height: 0;
    padding: 0 3%;
    width: auto;
  }
  
  .benefits:before {
    right: 63%;
  }
  
  .benefits:after {
    left: 63%;
  }
  
  .benefits p:after {
    content: '';
    display: block;
    width: 100%;
    height: 26em; 
    margin: 0 auto -26em;
    padding-bottom: 2em;
    background:  url('../images/img-look-right.png') no-repeat center center;
    background-size: 42%;
  }

  .explanation,
  .requirements {
    max-width: 60em;
  }
  
  .explanation {
    padding: 9em 0 0.5em;
  }
     
  .explanation h3 {
    font-size: 3.3em;
  }
  
  .requirements {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
  
  .requirements p:last-child {
    margin-bottom: -1.2rem;
  }
  
  footer {
    margin-top: 0;
  }
}
